@charset "UTF-8";
html,
body,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
fieldset,
legend,
input,
textarea,
button,
select {
  margin: 0;
  padding: 0;
}

fieldset,
img {
  border: 0;
}

img {
  vertical-align: top;
}

li,
ol,
ul {
  list-style: none;
}

address,
em,
i {
  font-style: normal;
}

a {
  text-decoration: none;
  color: #333;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

button {
  border: 0;
  background: none;
  -webkit-appearance: none;
  font-family: NanumSquareR, "나눔스퀘어", "맑은 고딕", MalgunGothic, "돋움", Dotum, AppleSDGothicNeo, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1;
}
button:hover {
  cursor: pointer;
}
button:focus {
  outline: 0;
}

input,
textarea {
  border: 0;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  outline: 0;
  resize: none;
  font-size: 14px;
  line-height: 1;
}

input[type=text],
input[type=tel],
input[type=email],
textarea {
  font-family: NanumSquareR, "나눔스퀘어", "맑은 고딕", MalgunGothic, "돋움", Dotum, AppleSDGothicNeo, Helvetica, sans-serif;
}

caption {
  text-indent: -9999px;
  font-size: 0;
}

body,
html {
  font-style: normal;
  font-size: 14px;
  line-height: 1;
  -webkit-text-size-adjust: none;
  color: #333;
  font-family: NanumSquareR, "나눔스퀘어", "맑은 고딕", MalgunGothic, "돋움", Dotum, AppleSDGothicNeo, Helvetica, sans-serif;
}

@font-face {
  font-family: NanumSquareL;
  src: url(../font/NanumSquareL.eot), url(../font/NanumSquareL.woff), url(../font/NanumSquareL.ttf);
  src: url(../font/NanumSquareL.eot?#iefix) format("embedded-opentype"), url(../font/NanumSquareL.woff) format("woff"), url(../font/NanumSquareL.ttf) format("truetype");
}
@font-face {
  font-family: NanumSquareR;
  src: url(../font/NanumSquareR.eot), url(../font/NanumSquareR.woff), url(../font/NanumSquareR.ttf);
  src: url(../font/NanumSquareR.eot?#iefix) format("embedded-opentype"), url(../font/NanumSquareR.woff) format("woff"), url(../font/NanumSquareR.ttf) format("truetype");
}
@font-face {
  font-family: NanumSquareB;
  src: url(../font/NanumSquareB.eot), url(../font/NanumSquareB.woff), url(../font/NanumSquareB.ttf);
  src: url(../font/NanumSquareB.eot?#iefix) format("embedded-opentype"), url(../font/NanumSquareB.woff) format("woff"), url(../font/NanumSquareB.ttf) format("truetype");
}
@font-face {
  font-family: NanumSquareEB;
  src: url(../font/NanumSquareEB.eot), url(../font/NanumSquareEB.woff), url(../font/NanumSquareEB.ttf);
  src: url(../font/NanumSquareEB.eot?#iefix) format("embedded-opentype"), url(../font/NanumSquareEB.woff) format("woff"), url(../font/NanumSquareEB.ttf) format("truetype");
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
.fadein {
  animation: fadeInUp 1s;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-width: 320px;
  z-index: 10;
}
.header .btn_mo_menu {
  position: absolute;
  top: 10px;
  right: 0;
  width: 58px;
  height: 49px;
  padding: 15px 20px;
  outline: 0;
}
.header .btn_mo_menu:after {
  content: "";
  display: block;
  background-image: url(../sp_result/sprite.png);
  background-position: -18px -102px;
  width: 16px;
  height: 15px;
}
.header .logo {
  position: relative;
  font-size: 0;
  background: url(https://resource.df.nexon.com/ui/img/common/logo.png) 50% 0 no-repeat;
  background-size: 110px 68px;
  width: 110px;
  height: 68px;
}
.header .logo > a {
  display: block;
}
.header.scroll {
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.header .pc_gnb {
  display: none;
}
.header .mo_gnb_wrap.on {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
.header .mo_gnb_wrap.on .mo_gnb {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
.header .mo_gnb_wrap::after {
  content: "";
  display: block;
  clear: both;
}
.header .mo_gnb {
  -webkit-transform: translateX(335px);
  -moz-transform: translateX(335px);
  -ms-transform: translateX(335px);
  transform: translateX(335px);
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 335px;
  background-color: #fff;
  z-index: 1001;
}
.header .mo_gnb .btn_gnb_close {
  position: absolute;
  top: 20px;
  right: 30px;
  width: 32px;
  height: 32px;
}
.header .mo_gnb .btn_gnb_close::after {
  content: "";
  background-image: url(../sp_result/sprite.png);
  background-position: -32px -72px;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.header .mo_gnb_inner {
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 72px;
}
.header .mo_gnb_menu {
  position: relative;
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  color: #000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.header_inner {
  position: relative;
  max-width: 1440px;
  height: 70px;
  margin: 0 auto;
}

@media screen and (min-width: 1280px) {
  .header .btn_mo_menu {
    display: none;
  }
  .header .mo_gnb_wrap.on {
    display: none;
  }
  .header .pc_gnb {
    display: block;
  }
  .header .header_inner {
    height: 120px;
    padding: 10px 30px;
  }
  .header .header_inner::after {
    content: "";
    display: block;
    clear: both;
  }
  .header .logo {
    float: left;
    background: url(https://www.neople.co.kr/neople/images/LOGO.gif) 50% 0 no-repeat;
    background-size: 129px 49px;
    width: 129px;
    height: 49px;
    margin-top: 40px;
  }
  .header .logo > a {
    height: 49px;
  }
  .header .gnb_menu_list::after {
    content: "";
    display: block;
    clear: both;
  }
  .header .gnb_menu_item {
    float: right;
    font-size: 24px;
    line-height: 1.5;
    font-weight: bold;
    margin-top: 40px;
    margin: 40px 0 0 30px;
  }
  .header .gnb_menu_item + .gnb_menu_item {
    margin-left: 30px;
  }
}
.footer {
  background: #90c7ff;
  padding: 50px 0;
  margin-top: 60px;
  text-align: center;
}
.footer .footer_inner {
  padding: 0 40px;
}
.footer .logo > a {
  display: inline-block;
  background: url(../img/footer_logo.png) 50% 0 no-repeat;
  background-size: 60px 60px;
  width: 60px;
  height: 60px;
}
.footer .footer_content {
  font-size: 16px;
  line-height: 1.2;
  font-weight: bold;
  word-break: keep-all;
  word-wrap: break-word;
  overflow-wrap: break-word;
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 75px 0;
    margin-top: 90px;
  }
  .footer .footer_inner {
    padding: 0 60px;
  }
  .footer .logo > a {
    background: url(../img/pc_footer_logo.png) 50% 0 no-repeat;
    background-size: 90px 90px;
    width: 90px;
    height: 90px;
  }
  .footer .footer_content {
    font-size: 24px;
    margin-top: 36px;
    line-height: 1.5;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    padding: 100px 0;
    margin-top: 120px;
  }
  .footer .footer_inner {
    padding: 0 80px;
  }
  .footer .logo > a {
    background: url(../img/pc_footer_logo.png) 50% 0 no-repeat;
    background-size: 120px 120px;
    width: 120px;
    height: 120px;
  }
  .footer .footer_content {
    font-size: 32px;
    margin-top: 45px;
  }
}
.mo_hide {
  display: none;
}

.scroll_fix {
  height: 100%;
  min-height: 100%;
  touch-action: none;
  -webkit-overflow-scrolling: none !important;
  overflow: hidden !important;
}

.dimmed {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1005;
}
.dimmed.active {
  display: block;
}

.wrap {
  font-family: NanumSquareR, "나눔스퀘어", "맑은 고딕", MalgunGothic, "돋움", Dotum, AppleSDGothicNeo, Helvetica, sans-serif;
}

.inner {
  max-width: 375px;
  margin: 0 auto;
}

.spot {
  overflow: hidden;
  position: relative;
  background: #24110d url(../img/bg_tablet.png) 50% no-repeat;
  background-size: cover;
  height: 330px;
  margin-top: 70px;
}
.spot .inner {
  position: relative;
  padding: 0;
}
.spot .sub_title {
  position: absolute;
  top: 94px;
  left: 50%;
  transform: translateX(-50%);
  color: #ff86b3;
  font-size: 14px;
  margin-left: 80px;
  font-weight: bold;
}

.section_roulette {
  overflow: hidden;
  background: #2d1e21 url(../img/mo_bg_section02.png) 50% no-repeat;
  background-size: cover;
  height: 295px;
}
.section_roulette .inner {
  position: relative;
  padding: 23px 20px;
}
.section_roulette .roulette_area {
  position: relative;
}
.section_roulette .roulette_area.stop:before {
  display: none;
}
.section_roulette .roulette_area:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  top: 8px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #c82562;
  z-index: 8;
  margin-left: 32px;
}
.section_roulette .roulette {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: conic-gradient(#161413 0% 20%, #061905 20% 40%, #090305 40% 60%, #280c03 60% 80%, #333944 80% 100%);
  animation: spin 12s infinite linear forwards;
  margin-left: -94px;
}
.section_roulette .roulette.active {
  animation: spin 1s infinite linear forwards;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.section_roulette .btn_stop {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url(../img/spin_circle.png) 50% 0 no-repeat;
  background-size: 45px 44px;
  width: 45px;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.section_roulette .item01 {
  width: 28px;
  height: 28px;
  background: url(https://static.dfoneople.com/publish/bbs_data_st1_neople/images/pds/f8e2bbf600/image-2023-11-16_17-36-15.png) 50% 0 no-repeat;
  background-size: 28px 28px;
  position: absolute;
  top: 55%;
  left: 12%;
}
.section_roulette .item02 {
  width: 28px;
  height: 28px;
  background: url(https://static.dfoneople.com/publish/bbs_data_st1_neople/images/pds/fc730374a3/image-2023-11-16_17-35-17.png) 50% 0 no-repeat;
  background-size: 28px 28px;
  position: absolute;
  top: 78%;
  left: 44%;
}
.section_roulette .item03 {
  width: 28px;
  height: 28px;
  background: url(https://static.dfoneople.com/publish/bbs_data_st1_neople/images/pds/434beff74c/image-2023-7-18_23-54-34.png) 50% 0 no-repeat;
  background-size: 28px 28px;
  position: absolute;
  top: 55%;
  left: 76%;
}
.section_roulette .item04 {
  width: 28px;
  height: 28px;
  background: url(https://static.dfoneople.com/publish/bbs_data_st1_neople/images/pds/8dacfef2e5/image-2023-11-16_17-35-37.png) 50% 0 no-repeat;
  background-size: 28px 28px;
  position: absolute;
  top: 19%;
  left: 64%;
}
.section_roulette .item05 {
  width: 28px;
  height: 28px;
  background: url(https://static.dfoneople.com/publish/bbs_data_st1_neople/images/pds/5f3b0d9dd3/image-2023-11-16_17-37-30.png) 50% 0 no-repeat;
  background-size: 28px 28px;
  position: absolute;
  top: 18%;
  left: 25%;
}

.section_vip {
  background: #090305 url(../img/mo_bg_section01.png) 50% no-repeat;
  background-size: cover;
  height: 330px;
}

.section_slotmachine {
  background: #090305 url(../img/bg_body.jpg) 50% no-repeat;
  background-size: cover;
}
.section_slotmachine .inner {
  max-width: 100%;
  padding: 47.1px 0;
  text-align: center;
}

.slot_machine {
  display: flex;
  flex-direction: row;
}
.slot_machine.active .symbols {
  animation: moveresult 1.5s linear infinite;
}
.slot_machine.end .symbols {
  animation: none;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.slot_machine.end .symbols .thumbnail {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  animation: none;
}

.reel {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 130px;
  margin: 5px;
}

.slot_01 {
  border: 3px solid #b89083;
  border-radius: 8px;
}
.slot_01.active .symbols {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.slot_02 {
  border: 3px solid #b89083;
  border-radius: 8px;
}
.slot_02.active .symbols {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.slot_03 {
  border: 3px solid #b89083;
  border-radius: 8px;
}
.slot_03.active .symbols {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.symbols {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  animation: moveSymbols 15s linear infinite;
}
.symbols.flow_01 {
  animation: moveSymbols1 10s linear infinite;
}
.symbols.flow_02 {
  animation: moveSymbols2 13s linear infinite;
}
.symbols .thumbnail {
  margin: 15px 0;
}
.symbols .thumbnail img {
  width: 100%;
}

@keyframes moveSymbols {
  0% {
    transform: translateY(-30%);
  }
  25% {
    transform: translateY(-170%);
  }
  50% {
    transform: translateY(-300%);
  }
  75% {
    transform: translateY(-450%);
  }
  100% {
    transform: translateY(-500%);
  }
}
@keyframes moveSymbols1 {
  0% {
    transform: translateY(-30%);
  }
  25% {
    transform: translateY(-200%);
  }
  50% {
    transform: translateY(-400%);
  }
  75% {
    transform: translateY(-500%);
  }
  100% {
    transform: translateY(-200%);
  }
}
@keyframes moveSymbols2 {
  0% {
    transform: translateY(-10%);
  }
  25% {
    transform: translateY(-90%);
  }
  50% {
    transform: translateY(-190%);
  }
  75% {
    transform: translateY(-300%);
  }
  100% {
    transform: translateY(-150%);
  }
}
@keyframes moveresult {
  0% {
    transform: translateY(-14%);
  }
  25% {
    transform: translateY(-150%);
  }
  50% {
    transform: translateY(-300%);
  }
  75% {
    transform: translateY(-400%);
  }
  100% {
    transform: translateY(-500%);
  }
}
.btn_slot {
  margin-top: 20px;
  padding: 10px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.section_card {
  background: #090305 url(../img/bg_body.jpg) 50% no-repeat;
  background-size: cover;
  height: 500px;
  margin-top: -10px;
  color: #fff;
}
.section_card.active .inner {
  padding: 6px 0 0;
}
.section_card.active button {
  display: none;
}
.section_card.active .card_item {
  width: 280px;
  height: 480px;
}
.section_card .inner {
  text-align: center;
  padding: 30px 0;
}
.section_card .card_area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 0;
}
.section_card .card_item {
  width: 100px;
  height: 185px;
  background: url(../img/card_13.png) 50% 0 no-repeat;
  background-size: cover;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section_card .card_item.item_01 {
  background: url(../img/card_0.png) 50% 0 no-repeat;
  background-size: cover;
}
.section_card .card_item.item_02 {
  background: url(../img/card_1.png) 50% 0 no-repeat;
  background-size: cover;
}
.section_card .card_item.item_03 {
  background: url(../img/card_2.png) 50% 0 no-repeat;
  background-size: cover;
}
.section_card .card_item.item_04 {
  background: url(../img/card_3.png) 50% 0 no-repeat;
  background-size: cover;
}
.section_card .card_item.item_05 {
  background: url(../img/card_4.png) 50% 0 no-repeat;
  background-size: cover;
}
.section_card .card_item.item_06 {
  background: url(../img/card_5.png) 50% 0 no-repeat;
  background-size: cover;
}
.section_card .card_item.item_07 {
  background: url(../img/card_6.png) 50% 0 no-repeat;
  background-size: cover;
}
.section_card .card_item.item_08 {
  background: url(../img/card_7.png) 50% 0 no-repeat;
  background-size: cover;
}
.section_card .card_item.item_09 {
  background: url(../img/card_8.png) 50% 0 no-repeat;
  background-size: cover;
}
.section_card .card_item.item_10 {
  background: url(../img/card_9.png) 50% 0 no-repeat;
  background-size: cover;
}
.section_card .card_item.item_11 {
  background: url(../img/card_10.png) 50% 0 no-repeat;
  background-size: cover;
}
.section_card .card_item.item_12 {
  background: url(../img/card_11.png) 50% 0 no-repeat;
  background-size: cover;
}
.section_card button {
  margin: 10px;
  color: #fff;
}

.pop_layer_01 {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 10px;
  background-color: #1d2230;
  z-index: 1010;
}
.pop_layer_01.active {
  display: block;
}

.pop_layer_01 .pop_content {
  position: relative;
  width: 300px;
  height: 300px;
  color: #fff;
  font-size: 20px;
  text-align: center;
}

.pop_layer_01 .pop_content .close_btn {
  position: absolute;
  top: -50px;
  right: -10px;
  background-image: url(https://kimdogyu1.github.io/kdg.html/images/sprite.png);
  background-position: 0px -100px;
  width: 45px;
  height: 45px;
  background-size: 200px 145px;
}

.pop_layer_01 .pop_content .close_btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 45px;
  height: 45px;
  background-color: rgba(29, 34, 48, 0.5);
}

.pop_layer_02 {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 10px;
  background-color: #1d2230;
  z-index: 1010;
}
.pop_layer_02.active {
  display: block;
}

.pop_layer_02 .pop_content {
  position: relative;
  width: 300px;
  height: 300px;
  color: #fff;
  font-size: 20px;
  text-align: center;
}

.pop_layer_02 .pop_content .close_btn {
  position: absolute;
  top: -50px;
  right: -10px;
  background-image: url(https://kimdogyu1.github.io/kdg.html/images/sprite.png);
  background-position: 0px -100px;
  width: 45px;
  height: 45px;
  background-size: 200px 145px;
}

.pop_layer_02 .pop_content .close_btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 45px;
  height: 45px;
  background-color: rgba(29, 34, 48, 0.5);
}

.pop_layer_03 {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 10px;
  background-color: #1d2230;
  z-index: 1010;
}
.pop_layer_03.active {
  display: block;
}

.pop_layer_03 .pop_content {
  position: relative;
  width: 300px;
  height: 300px;
  color: #fff;
  font-size: 20px;
  text-align: center;
}

.pop_layer_03 .pop_content .close_btn {
  position: absolute;
  top: -50px;
  right: -10px;
  background-image: url(https://kimdogyu1.github.io/kdg.html/images/sprite.png);
  background-position: 0px -100px;
  width: 45px;
  height: 45px;
  background-size: 200px 145px;
}

.pop_layer_03 .pop_content .close_btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 45px;
  height: 45px;
  background-color: rgba(29, 34, 48, 0.5);
}

@media screen and (min-width: 640px) {
  .wrap {
    display: none !important;
  }
  .mo_hide {
    display: block;
  }
  .inner {
    padding: 0 30px;
  }
}
@media screen and (min-width: 1280px) {
  .scroll_fix {
    height: initial !important;
    min-height: initial !important;
    touch-action: initial !important;
    -webkit-overflow-scrolling: initial !important;
    overflow: initial !important;
  }
  .inner {
    max-width: 1280px;
    margin: 0 auto;
  }
}
/*# sourceMappingURL=maps/main.css.map */
