@charset "UTF-8";

.footer {
    background: #242221;
    padding: 50px 0;    
    text-align: center;

    .footer_inner {
        padding: 0 40px;
    }

    .copy {
        zoom: 0.8;
    }
}



@media screen and (min-width: 640px) { 
    .footer { 
        .copy {
            zoom: 1;
        }
    }    
}