// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arrow-right-name: 'arrow_right';
$arrow-right-x: 395px;
$arrow-right-y: 194px;
$arrow-right-offset-x: -395px;
$arrow-right-offset-y: -194px;
$arrow-right-width: 10px;
$arrow-right-height: 10px;
$arrow-right-total-width: 498px;
$arrow-right-total-height: 267px;
$arrow-right-image: '../sp_result/sprite.png';
$arrow-right: (395px, 194px, -395px, -194px, 10px, 10px, 498px, 267px, '../sp_result/sprite.png', 'arrow_right', );
$arrow-right-2x-name: 'arrow_right@2x';
$arrow-right-2x-x: 386px;
$arrow-right-2x-y: 229px;
$arrow-right-2x-offset-x: -386px;
$arrow-right-2x-offset-y: -229px;
$arrow-right-2x-width: 20px;
$arrow-right-2x-height: 20px;
$arrow-right-2x-total-width: 498px;
$arrow-right-2x-total-height: 267px;
$arrow-right-2x-image: '../sp_result/sprite.png';
$arrow-right-2x: (386px, 229px, -386px, -229px, 20px, 20px, 498px, 267px, '../sp_result/sprite.png', 'arrow_right@2x', );
$arrow-right-white-name: 'arrow_right_white';
$arrow-right-white-x: 405px;
$arrow-right-white-y: 194px;
$arrow-right-white-offset-x: -405px;
$arrow-right-white-offset-y: -194px;
$arrow-right-white-width: 10px;
$arrow-right-white-height: 10px;
$arrow-right-white-total-width: 498px;
$arrow-right-white-total-height: 267px;
$arrow-right-white-image: '../sp_result/sprite.png';
$arrow-right-white: (405px, 194px, -405px, -194px, 10px, 10px, 498px, 267px, '../sp_result/sprite.png', 'arrow_right_white', );
$arrow-right-white-2x-name: 'arrow_right_white@2x';
$arrow-right-white-2x-x: 406px;
$arrow-right-white-2x-y: 229px;
$arrow-right-white-2x-offset-x: -406px;
$arrow-right-white-2x-offset-y: -229px;
$arrow-right-white-2x-width: 20px;
$arrow-right-white-2x-height: 20px;
$arrow-right-white-2x-total-width: 498px;
$arrow-right-white-2x-total-height: 267px;
$arrow-right-white-2x-image: '../sp_result/sprite.png';
$arrow-right-white-2x: (406px, 229px, -406px, -229px, 20px, 20px, 498px, 267px, '../sp_result/sprite.png', 'arrow_right_white@2x', );
$btn-reel-name: 'btn_reel';
$btn-reel-x: 0px;
$btn-reel-y: 0px;
$btn-reel-offset-x: 0px;
$btn-reel-offset-y: 0px;
$btn-reel-width: 249px;
$btn-reel-height: 161px;
$btn-reel-total-width: 498px;
$btn-reel-total-height: 267px;
$btn-reel-image: '../sp_result/sprite.png';
$btn-reel: (0px, 0px, 0px, 0px, 249px, 161px, 498px, 267px, '../sp_result/sprite.png', 'btn_reel', );
$btn-reel-checked-name: 'btn_reel_checked';
$btn-reel-checked-x: 249px;
$btn-reel-checked-y: 0px;
$btn-reel-checked-offset-x: -249px;
$btn-reel-checked-offset-y: 0px;
$btn-reel-checked-width: 249px;
$btn-reel-checked-height: 161px;
$btn-reel-checked-total-width: 498px;
$btn-reel-checked-total-height: 267px;
$btn-reel-checked-image: '../sp_result/sprite.png';
$btn-reel-checked: (249px, 0px, -249px, 0px, 249px, 161px, 498px, 267px, '../sp_result/sprite.png', 'btn_reel_checked', );
$btn-reel-checked-mo-name: 'btn_reel_checked_mo';
$btn-reel-checked-mo-x: 445px;
$btn-reel-checked-mo-y: 161px;
$btn-reel-checked-mo-offset-x: -445px;
$btn-reel-checked-mo-offset-y: -161px;
$btn-reel-checked-mo-width: 50px;
$btn-reel-checked-mo-height: 32px;
$btn-reel-checked-mo-total-width: 498px;
$btn-reel-checked-mo-total-height: 267px;
$btn-reel-checked-mo-image: '../sp_result/sprite.png';
$btn-reel-checked-mo: (445px, 161px, -445px, -161px, 50px, 32px, 498px, 267px, '../sp_result/sprite.png', 'btn_reel_checked_mo', );
$btn-reel-mo-name: 'btn_reel_mo';
$btn-reel-mo-x: 395px;
$btn-reel-mo-y: 161px;
$btn-reel-mo-offset-x: -395px;
$btn-reel-mo-offset-y: -161px;
$btn-reel-mo-width: 50px;
$btn-reel-mo-height: 33px;
$btn-reel-mo-total-width: 498px;
$btn-reel-mo-total-height: 267px;
$btn-reel-mo-image: '../sp_result/sprite.png';
$btn-reel-mo: (395px, 161px, -395px, -161px, 50px, 33px, 498px, 267px, '../sp_result/sprite.png', 'btn_reel_mo', );
$close-name: 'close';
$close-x: 362px;
$close-y: 229px;
$close-offset-x: -362px;
$close-offset-y: -229px;
$close-width: 24px;
$close-height: 24px;
$close-total-width: 498px;
$close-total-height: 267px;
$close-image: '../sp_result/sprite.png';
$close: (362px, 229px, -362px, -229px, 24px, 24px, 498px, 267px, '../sp_result/sprite.png', 'close', );
$item01-name: 'item01';
$item01-x: 70px;
$item01-y: 161px;
$item01-offset-x: -70px;
$item01-offset-y: -161px;
$item01-width: 56px;
$item01-height: 56px;
$item01-total-width: 498px;
$item01-total-height: 267px;
$item01-image: '../sp_result/sprite.png';
$item01: (70px, 161px, -70px, -161px, 56px, 56px, 498px, 267px, '../sp_result/sprite.png', 'item01', );
$item01-mo-name: 'item01_mo';
$item01-mo-x: 222px;
$item01-mo-y: 229px;
$item01-mo-offset-x: -222px;
$item01-mo-offset-y: -229px;
$item01-mo-width: 28px;
$item01-mo-height: 28px;
$item01-mo-total-width: 498px;
$item01-mo-total-height: 267px;
$item01-mo-image: '../sp_result/sprite.png';
$item01-mo: (222px, 229px, -222px, -229px, 28px, 28px, 498px, 267px, '../sp_result/sprite.png', 'item01_mo', );
$item01-pc-name: 'item01_pc';
$item01-pc-x: 0px;
$item01-pc-y: 229px;
$item01-pc-offset-x: 0px;
$item01-pc-offset-y: -229px;
$item01-pc-width: 38px;
$item01-pc-height: 38px;
$item01-pc-total-width: 498px;
$item01-pc-total-height: 267px;
$item01-pc-image: '../sp_result/sprite.png';
$item01-pc: (0px, 229px, 0px, -229px, 38px, 38px, 498px, 267px, '../sp_result/sprite.png', 'item01_pc', );
$item02-name: 'item02';
$item02-x: 126px;
$item02-y: 161px;
$item02-offset-x: -126px;
$item02-offset-y: -161px;
$item02-width: 56px;
$item02-height: 56px;
$item02-total-width: 498px;
$item02-total-height: 267px;
$item02-image: '../sp_result/sprite.png';
$item02: (126px, 161px, -126px, -161px, 56px, 56px, 498px, 267px, '../sp_result/sprite.png', 'item02', );
$item02-mo-name: 'item02_mo';
$item02-mo-x: 250px;
$item02-mo-y: 229px;
$item02-mo-offset-x: -250px;
$item02-mo-offset-y: -229px;
$item02-mo-width: 28px;
$item02-mo-height: 28px;
$item02-mo-total-width: 498px;
$item02-mo-total-height: 267px;
$item02-mo-image: '../sp_result/sprite.png';
$item02-mo: (250px, 229px, -250px, -229px, 28px, 28px, 498px, 267px, '../sp_result/sprite.png', 'item02_mo', );
$item02-pc-name: 'item02_pc';
$item02-pc-x: 38px;
$item02-pc-y: 229px;
$item02-pc-offset-x: -38px;
$item02-pc-offset-y: -229px;
$item02-pc-width: 38px;
$item02-pc-height: 38px;
$item02-pc-total-width: 498px;
$item02-pc-total-height: 267px;
$item02-pc-image: '../sp_result/sprite.png';
$item02-pc: (38px, 229px, -38px, -229px, 38px, 38px, 498px, 267px, '../sp_result/sprite.png', 'item02_pc', );
$item03-name: 'item03';
$item03-x: 182px;
$item03-y: 161px;
$item03-offset-x: -182px;
$item03-offset-y: -161px;
$item03-width: 56px;
$item03-height: 56px;
$item03-total-width: 498px;
$item03-total-height: 267px;
$item03-image: '../sp_result/sprite.png';
$item03: (182px, 161px, -182px, -161px, 56px, 56px, 498px, 267px, '../sp_result/sprite.png', 'item03', );
$item03-mo-name: 'item03_mo';
$item03-mo-x: 278px;
$item03-mo-y: 229px;
$item03-mo-offset-x: -278px;
$item03-mo-offset-y: -229px;
$item03-mo-width: 28px;
$item03-mo-height: 28px;
$item03-mo-total-width: 498px;
$item03-mo-total-height: 267px;
$item03-mo-image: '../sp_result/sprite.png';
$item03-mo: (278px, 229px, -278px, -229px, 28px, 28px, 498px, 267px, '../sp_result/sprite.png', 'item03_mo', );
$item03-pc-name: 'item03_pc';
$item03-pc-x: 76px;
$item03-pc-y: 229px;
$item03-pc-offset-x: -76px;
$item03-pc-offset-y: -229px;
$item03-pc-width: 38px;
$item03-pc-height: 38px;
$item03-pc-total-width: 498px;
$item03-pc-total-height: 267px;
$item03-pc-image: '../sp_result/sprite.png';
$item03-pc: (76px, 229px, -76px, -229px, 38px, 38px, 498px, 267px, '../sp_result/sprite.png', 'item03_pc', );
$item04-name: 'item04';
$item04-x: 238px;
$item04-y: 161px;
$item04-offset-x: -238px;
$item04-offset-y: -161px;
$item04-width: 56px;
$item04-height: 56px;
$item04-total-width: 498px;
$item04-total-height: 267px;
$item04-image: '../sp_result/sprite.png';
$item04: (238px, 161px, -238px, -161px, 56px, 56px, 498px, 267px, '../sp_result/sprite.png', 'item04', );
$item04-mo-name: 'item04_mo';
$item04-mo-x: 306px;
$item04-mo-y: 229px;
$item04-mo-offset-x: -306px;
$item04-mo-offset-y: -229px;
$item04-mo-width: 28px;
$item04-mo-height: 28px;
$item04-mo-total-width: 498px;
$item04-mo-total-height: 267px;
$item04-mo-image: '../sp_result/sprite.png';
$item04-mo: (306px, 229px, -306px, -229px, 28px, 28px, 498px, 267px, '../sp_result/sprite.png', 'item04_mo', );
$item04-pc-name: 'item04_pc';
$item04-pc-x: 114px;
$item04-pc-y: 229px;
$item04-pc-offset-x: -114px;
$item04-pc-offset-y: -229px;
$item04-pc-width: 38px;
$item04-pc-height: 38px;
$item04-pc-total-width: 498px;
$item04-pc-total-height: 267px;
$item04-pc-image: '../sp_result/sprite.png';
$item04-pc: (114px, 229px, -114px, -229px, 38px, 38px, 498px, 267px, '../sp_result/sprite.png', 'item04_pc', );
$item05-name: 'item05';
$item05-x: 294px;
$item05-y: 161px;
$item05-offset-x: -294px;
$item05-offset-y: -161px;
$item05-width: 56px;
$item05-height: 56px;
$item05-total-width: 498px;
$item05-total-height: 267px;
$item05-image: '../sp_result/sprite.png';
$item05: (294px, 161px, -294px, -161px, 56px, 56px, 498px, 267px, '../sp_result/sprite.png', 'item05', );
$item05-mo-name: 'item05_mo';
$item05-mo-x: 334px;
$item05-mo-y: 229px;
$item05-mo-offset-x: -334px;
$item05-mo-offset-y: -229px;
$item05-mo-width: 28px;
$item05-mo-height: 28px;
$item05-mo-total-width: 498px;
$item05-mo-total-height: 267px;
$item05-mo-image: '../sp_result/sprite.png';
$item05-mo: (334px, 229px, -334px, -229px, 28px, 28px, 498px, 267px, '../sp_result/sprite.png', 'item05_mo', );
$item05-pc-name: 'item05_pc';
$item05-pc-x: 152px;
$item05-pc-y: 229px;
$item05-pc-offset-x: -152px;
$item05-pc-offset-y: -229px;
$item05-pc-width: 38px;
$item05-pc-height: 38px;
$item05-pc-total-width: 498px;
$item05-pc-total-height: 267px;
$item05-pc-image: '../sp_result/sprite.png';
$item05-pc: (152px, 229px, -152px, -229px, 38px, 38px, 498px, 267px, '../sp_result/sprite.png', 'item05_pc', );
$menu-name: 'menu';
$menu-x: 426px;
$menu-y: 229px;
$menu-offset-x: -426px;
$menu-offset-y: -229px;
$menu-width: 16px;
$menu-height: 15px;
$menu-total-width: 498px;
$menu-total-height: 267px;
$menu-image: '../sp_result/sprite.png';
$menu: (426px, 229px, -426px, -229px, 16px, 15px, 498px, 267px, '../sp_result/sprite.png', 'menu', );
$menu-2x-name: 'menu@2x';
$menu-2x-x: 190px;
$menu-2x-y: 229px;
$menu-2x-offset-x: -190px;
$menu-2x-offset-y: -229px;
$menu-2x-width: 32px;
$menu-2x-height: 30px;
$menu-2x-total-width: 498px;
$menu-2x-total-height: 267px;
$menu-2x-image: '../sp_result/sprite.png';
$menu-2x: (190px, 229px, -190px, -229px, 32px, 30px, 498px, 267px, '../sp_result/sprite.png', 'menu@2x', );
$spin-circle-mo-name: 'spin_circle_mo';
$spin-circle-mo-x: 350px;
$spin-circle-mo-y: 161px;
$spin-circle-mo-offset-x: -350px;
$spin-circle-mo-offset-y: -161px;
$spin-circle-mo-width: 45px;
$spin-circle-mo-height: 44px;
$spin-circle-mo-total-width: 498px;
$spin-circle-mo-total-height: 267px;
$spin-circle-mo-image: '../sp_result/sprite.png';
$spin-circle-mo: (350px, 161px, -350px, -161px, 45px, 44px, 498px, 267px, '../sp_result/sprite.png', 'spin_circle_mo', );
$spin-circle-pc-name: 'spin_circle_pc';
$spin-circle-pc-x: 0px;
$spin-circle-pc-y: 161px;
$spin-circle-pc-offset-x: 0px;
$spin-circle-pc-offset-y: -161px;
$spin-circle-pc-width: 70px;
$spin-circle-pc-height: 68px;
$spin-circle-pc-total-width: 498px;
$spin-circle-pc-total-height: 267px;
$spin-circle-pc-image: '../sp_result/sprite.png';
$spin-circle-pc: (0px, 161px, 0px, -161px, 70px, 68px, 498px, 267px, '../sp_result/sprite.png', 'spin_circle_pc', );
$spritesheet-width: 498px;
$spritesheet-height: 267px;
$spritesheet-image: '../sp_result/sprite.png';
$spritesheet-sprites: ($arrow-right, $arrow-right-2x, $arrow-right-white, $arrow-right-white-2x, $btn-reel, $btn-reel-checked, $btn-reel-checked-mo, $btn-reel-mo, $close, $item01, $item01-mo, $item01-pc, $item02, $item02-mo, $item02-pc, $item03, $item03-mo, $item03-pc, $item04, $item04-mo, $item04-pc, $item05, $item05-mo, $item05-pc, $menu, $menu-2x, $spin-circle-mo, $spin-circle-pc, );
$spritesheet: (498px, 267px, '../sp_result/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
